@page "/"

<PageTitle>Upload file</PageTitle>

<h1>Upload file!</h1>

<InputFile OnChange="@OnInputFileChange" multiply/>

@code
{
    private async Task OnInputFileChange(InputFileChangeEventArgs e)
    {

    }
}
